<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <Fragment>
      <!--======================================================
               Directory structure
      =======================================================-->
      <DirectoryRef Id='TARGETDIR'>
         <Directory Id='APPS' Name="Apps">
            <!-- Eclipse directory structure-->
            <Directory Id="D.ECLIPSE_CDT" Name="Eclipse">
               <Directory Id="D.EclipseDropins" Name="dropins"/>
            </Directory>
         </Directory>
      </DirectoryRef>
     
      <!--======================================================
               Registry searches
      =======================================================-->
     
      <!-- Check for presence of FreeMASTER 1.3 -->
      <Property Id="P.ECLIPSE_CDT">
         <RegistrySearch Id="Rs.ECLIPSE_CDT"
                    Root="HKLM"
                    Win64="no"
                    Key="SOFTWARE\Eclipse Foundation\Eclipse"
                    Name="InstallationDirectory"
                    Type="directory" />
      </Property>

      <!-- Modify default install path for FreeMASTER 1.3 -->
      <Property Id="D.ECLIPSE_CDT">
         <RegistrySearchRef Id="Rs.ECLIPSE_CDT" />
      </Property>
            
      <!--======================================================
               Components
      =======================================================-->
     <!-- 
           CW Eclipse support 
     -->
      <DirectoryRef Id="D.ECLIPSE_CDT">
         <Component Id='C.ECLIPSE_CDT.Marker' Guid='b9ce25ad-254b-4c05-bc89-de8afde8745c' >
            <File Id='ECLIPSE_CDT_Marker' DiskId='1' Source='USBDM_Installed.txt' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <Feature Id='F.ECLIPSE_CDT'
            Title='Eclipse CDT Plugins'
            Description='Add USBDM CDT support to Eclipse:&#10;  - C/C++ New Project wizards&#10;  - GDB Debug interfaces&#10;  - Device Peripheral Viewer.'
            ConfigurableDirectory="D.ECLIPSE_CDT"
            AllowAdvertise="no"
            Level='100'>
         <Condition Level='1'>
            <![CDATA[Installed OR P.ECLIPSE_CDT]]>
         </Condition>
         <ComponentRef Id='C.ProgramMenuFolder' />
         <ComponentRef Id='C.ECLIPSE_CDT.Marker' />
         <ComponentGroupRef Id='Cg.EclipsePlugin' />
         <ComponentGroupRef Id='Cg.DeviceDataInstall'/>
         <ComponentGroupRef Id='Cg.StationeryInstall'/>
         <ComponentGroupRef Id='Cg.GDBServers' />
      </Feature>

   </Fragment>
</Wix>